<!doctype html>
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>wemeet</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- <link rel="manifest" href="site.webmanifest"> -->
   <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
   <!-- Place favicon.ico in the root directory -->

   <!-- CSS here -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/owl.carousel.min.css">
   <link rel="stylesheet" href="css/magnific-popup.css">
   <link rel="stylesheet" href="css/font-awesome.min.css">
   <link rel="stylesheet" href="css/themify-icons.css">
   <link rel="stylesheet" href="css/nice-select.css">
   <link rel="stylesheet" href="css/flaticon.css">
   <link rel="stylesheet" href="css/animate.css">
   <link rel="stylesheet" href="css/slicknav.css">
   <link rel="stylesheet" href="css/style.css">
   <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
   <!-- header-start -->
   <header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area ">
            <div class="container-fluid p-0">
                <div class="row align-items-center justify-content-between no-gutters">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="/">
                                <img src="img/logo.png" alt=""><span style="color:#FFF" > Text Recognizer </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="Schedule.html">Schedule</a></li>
                                    <li><a href="Speakers.html">Team </a></li>
                                    <li><a href="Venue.html">Venue</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                        <div class="buy_ticket">
 <input onclick='responsiveVoice.speak("Welcome , You can now try here one of the best Text recognition using an OCR for free to convert Images into text,PDF and even as audio output just like the way you are listening right now. Go Give it a try !");' type='button' class="boxed-btn-white" value='🔊 Play' />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</header>
   <!-- header-end -->

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="< %= path %>" alt="">
                  </div>
                  <div class="blog_details">
                     <h2> All the text in the image is recognized and displayed below :
                     </h2>
            
                     <p class="excert">
                        
                     </p>
                    
                    <div class="quote-wrapper">
                        <div class="quotes">
                            <%= data %>
                        </div>
                     </div>
                 
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
        
                     <div class="col-sm-4 text-center my-2 my-sm-0">
            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                     <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                     </ul>
                  </div>
               <div class="row"> 
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  <div class="single_sidebar_widget search_widget">
                     <form action="/download">
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Download PDF</button>
                     </form>
                    </div>
               </div></div>
               <div class="col-lg-4 ml-3">
                <div class="blog_right_sidebar">
                   <div class="single_sidebar_widget search_widget">
                      <form action="#">
            
                            <input onclick='responsiveVoice.speak(`<%= data %>`);' type='button' class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" value='🔊 Speak Back' />
                      </form>
                     </div>
                </div></div>
               </div>
                 
                 
                  <div class="single_sidebar_widget newsletter_widget">
                     <h4 class="widget_title">Newsletter</h4>
                     <form action="#">
                        <div class="form-group">
                           <input type="email" class="form-control" onfocus="this.placeholder = ''"
                              onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Subscribe</button>
                     </form>
                    </div>
               </div>
            </div>
            </div></div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->

    <!-- footer_start -->
    <footer class="footer footer_bg_1">
      <div class="circle_ball d-none d-lg-block">
          <img src="img/banner/footer_ball.png" alt="">
      </div>
          <div class="footer_top">
              <div class="container">
                  <div class="row">
                      <div class="col-xl-4 col-md-4 col-lg-4">
                          <div class="footer_widget">
                              <h3 class="footer_title">
                                      Follow Us
                              </h3>
                              <ul>
                                  <li><a target="_blank" href="#">Facebook</a></li>
                                  <li><a target="_blank" href="#">Twitter</a></li>
                                  <li><a target="_blank" href="#">Instagram</a></li>
                                  <li><a target="_blank" href="#">Youtube</a></li>
                              </ul>
  
                          </div>
                      </div>
                      <div class="col-xl-4 col-md-4 col-lg-4">
                          <div class="footer_widget">
                              <h3 class="footer_title">
                                      Links
                              </h3>
                              <ul>
                                  <li><a target="_blank" href="schedule.html">Schedule</a></li>
                                  <li><a target="_blank" href="speakers.html">Speakers</a></li>
                                  <li><a target="_blank" href="contact.html">Contact</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-xl-4 col-md-4 col-lg-4">
                          <div class="footer_widget">
                              <h3 class="footer_title">
                                      Venue
                              </h3>
                              <p>
                                  200, D-block, Green lane USA <br>
                                  edumark@contact.com <br>
                                  +10 367 467 8934
                                  
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="copy-right_text">
              <div class="container">
                  <div class="footer_border"></div>
                  <div class="row">
                      <div class="col-xl-12">
                          <p class="copy_right text-center">
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
  <!-- footer_end -->

     <!-- API for Speaking-->
     <script src="https://code.responsivevoice.org/responsivevoice.js?key=HVyByr7B"></script>
   <!-- JS here -->
   <script src="js/vendor/modernizr-3.5.0.min.js"></script>
   <script src="js/vendor/jquery-1.12.4.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/owl.carousel.min.js"></script>
   <script src="js/isotope.pkgd.min.js"></script>
   <script src="js/ajax-form.js"></script>
   <script src="js/waypoints.min.js"></script>
   <script src="js/jquery.counterup.min.js"></script>
   <script src="js/imagesloaded.pkgd.min.js"></script>
   <script src="js/scrollIt.js"></script>
   <script src="js/jquery.scrollUp.min.js"></script>
   <script src="js/wow.min.js"></script>
   <script src="js/nice-select.min.js"></script>
   <script src="js/jquery.slicknav.min.js"></script>
   <script src="js/jquery.magnific-popup.min.js"></script>
   <script src="js/jquery.countdown.js"></script>
   <script src="js/plugins.js"></script>

   <!--contact js-->
   <script src="js/contact.js"></script>
   <script src="js/jquery.ajaxchimp.min.js"></script>
   <script src="js/jquery.form.js"></script>
   <script src="js/jquery.validate.min.js"></script>
   <script src="js/mail-script.js"></script>

   <script src="js/main.js"></script>

</body>

</html>