<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Text Recognition </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->


 
</head>

<body>

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area ">
                <div class="container-fluid p-0">
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="/">
                                    <img src="img/logo.png" alt=""><span style="color:#FFF" > Text Recognizer </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="/">Home</a></li>
                                        <li><a href="Schedule.html">Schedule</a></li>
                                        <li><a href="Speakers.html">Team </a></li>
                                        <li><a href="Venue.html">Venue</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                            <div class="buy_ticket">
     <input onclick='responsiveVoice.speak("Welcome , You can now try here one of the best Text recognition using an OCR for free to convert Images into text,PDF and even as audio output just like the way you are listening right now. Go Give it a try !");' type='button' class="boxed-btn-white" value='🔊 Play' />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area slider_bg_1" style=" margin-top: -10%;">
        <div class="slider_text">
            <div class="container">
                <div class="position_relv">
                    <h1 class="opcity_text d-none d-lg-block"> O C R &nbsp &nbsp</h1>

                    <input onclick='responsiveVoice.speak("Welcome, You can now try here one of the best Text recognition using an OCR for free to convert Images into text,PDF and even as audio output just like the way you are listening right now. Go Give it a try !");' type='button' class="boxed-btn-white" value='🔊 Play' />
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="title_text">
                                <h3> Image<br>
                                    to Text, <br>
                                    pdf , voice outputs</h3>
                               <form
      id="frmUploader"
      enctype="multipart/form-data"
      action="/upload"
      method="post"
    >
    <div class="row">
      <input  class ="boxed-btn-white" type="file" name="image" multiple />

      <input class ="boxed-btn-white ml-5" type="submit" name="submit" id="btnSubmit" value=" Run OCR " /></div>
    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- about_area_start -->
    <div class="about_area">
        <div class="shape-1 d-none d-xl-block">
            <img src="img/about/shap1.png" alt="">
        </div>
        <div class="shape-2 d-none d-xl-block">
            <img src="img/about/shap2.png" alt="">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-md-6">
                    <div class="about_thumb">
                        <img src="img/about/about.png" alt="">
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-md-6">
                    <div class="about_info">
                        <div class="section_title">
                            <span class="sub_heading">Welcome To</span>
                            <h3>The Biggest Design <br>
                                Conference of the <br>
                                Year 2019</h3>
                        </div>
                        <p>Our set he for firmament morning sixth subdue darkness creeping gathered divide our let god.
                            moving. Moving in fourth air night bring upon you’re it beast.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->

    <!-- speakers_start -->
    <div class="speakers_area">
        <h1 class="horizontal_text d-none d-lg-block">
            Team Members
        </h1>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="serction_title_large mb-95">
                        <h3>
                           Team
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <div class="single_speaker">
                        <div class="speaker_thumb">
                            <img src="img/speakers/Ravi-1.jpg" alt="">
                            <div class="hover_overlay">
                                <div class="social_icon">
                                    <a href="https://www.facebook.com/im.lochan.ravilochan.005"><i class="fa fa-facebook-square"></i></a>
                                    <a href="https://www.instagram.com/ravilochan2000/"><i class="fa fa-instagram"></i></a>
                                    <a href="https://twitter.com/BRavilochan"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/in/ravilochan-balla/"><i class="fa fa-linkedin"></i></a>
                                    <a href="https://github.com/Ravilochan"><i class="fa fa-github"></i></a>
                                    
                                
                                </div>
                            </div>
                        </div>
                        <div class="speaker_name text-center">
                            <h3> Ravilochan Balla </h3>
                            <p> 2451-17-737-082</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-xl-4 offset-xl-0 col-md-6">
                    <div class="single_speaker">
                        <div class="speaker_thumb">
                            <img src="img/speakers/Akhil.png" alt="">
                            <div class="hover_overlay">
                                <div class="social_icon">
                                    <a href="https://www.facebook.com/komireddy.akhil.9"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/akhil_reddy._/"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="speaker_name text-center">
                            <h3>Marked Macau</h3>
                            <p>UI/UX Designer</p>
                        </div>
                    </div></div>
                    <div class="col-xl-4 col-md-6">
                    <div class="single_speaker">
                        <div class="speaker_thumb">
                            <img src="img/speakers/1.png" alt="">
                            <div class="hover_overlay">
                                <div class="social_icon">
                                    <a href="https://www.facebook.com/anil.aky.18"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/anilkumaryadav._/"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="speaker_name text-center">
                            <h3>Kelvin Cooper</h3>
                            <p>Art Director</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- speakers_end-->

    <!-- event_area_start -->
    <div class="event_area">
        <h1 class="vr_text d-none d-lg-block">Event Schedule</h1>
        <div class="container">
            <div class="double_line">
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="date">
                            <h3>08 Sep 2019</h3>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="single_speaker">
                            <img src="img/speakers/ravi-head.jpg" class="rounded-circle" style="height: 90px; width: 90px;" alt="">
                            <div class="speaker-name">
                                <div class="heading d-flex justify-content-between align-items-center">
                                    <span>Jonson Miller</span>
                                    <div class="time">
                                        10-11 am
                                    </div>
                                </div>
                                <p>Our set he for firmament morning sixth subdue darkness creeping gathered divide our
                                    let
                                    god moving.
                                    Moving in fourth air night bring upon you’re it beast let you dominion </p>
                            </div>
                        </div>
                        <div class="single_speaker">
                            <img src="img/speakers/Akhil.png" class="rounded-circle" style="height: 90px; width: 90px;" alt="">
                            <div class="speaker-name">
                                <div class="heading d-flex justify-content-between align-items-center">
                                    <span>Albert Jackey</span>
                                    <div class="time">
                                        12-1.00 pm
                                    </div>
                                </div>
                                <p>Our set he for firmament morning sixth subdue darkness creeping gathered divide our
                                    let
                                    god moving.
                                    Moving in fourth air night bring upon you’re it beast let you dominion </p>
                            </div>
                        </div>
                        <div class="single_speaker">
                            <img src="img/speakers/seaker3.png" alt="">
                            <div class="speaker-name">
                                <div class="heading d-flex justify-content-between align-items-center">
                                    <span>Alvi Nourin</span>
                                    <div class="time">
                                        2.30-4.00 pm
                                    </div>
                                </div>
                                <p>Our set he for firmament morning sixth subdue darkness creeping gathered divide our
                                    let
                                    god moving.
                                    Moving in fourth air night bring upon you’re it beast let you dominion </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <!-- event_area_end -->


    <!-- resister_book_start -->
    <div class="resister_book resister_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="resister_text text-center">
                        <h3>Register Now to Book <br>
                            Your Presence</h3>
                        <a href="#" class="boxed-btn-white">Book Now ($150) </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- resister_book_end -->

    <!-- brand_area_start -->
    <div class="brand_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="brand_active owl-carousel">
                        <div class="single_brand text-center">
                            <img src="img/barnd/1.png" alt="">
                        </div>
                        <div class="single_brand text-center">
                            <img src="img/barnd/2.png" alt="">
                        </div>
                        <div class="single_brand text-center">
                            <img src="img/barnd/3.png" alt="">
                        </div>
                        <div class="single_brand text-center">
                            <img src="img/barnd/4.png" alt="">
                        </div>
                        <div class="single_brand text-center">
                            <img src="img/barnd/5.png" alt="">
                        </div>
                        <div class="single_brand text-center">
                            <img src="img/barnd/6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand_area_end -->

    <!-- faq_area_Start -->
    <div class="faq_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="serction_title_large mb-95">
                        <h3>
                            Frequently Ask
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

                                        <img src="img/barnd/info.png" alt=""> Is WordPress hosting worth it?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion"
                                style =" ">
                                <div class="card-body">
                                    Our set he for firmament morning sixth subdue darkness creeping gathered divide our
                                    let god moving. Moving in fourth air night bring upon
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <img src="img/barnd/info.png" alt="">What are the advantages <span>of WordPress
                                            hosting over shared?</span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion" style="">
                                <div class="card-body">
                                    Our set he for firmament morning sixth subdue darkness creeping gathered divide our
                                    let god moving. Moving in fourth air night bring upon
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <img src="img/barnd/info.png" alt=""> Where the Venue?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion" style="">
                                <div class="card-body">
                                    Our set he for firmament morning sixth subdue darkness creeping gathered divide our
                                    let god moving. Moving in fourth air night bring upon
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading_4">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                                        <img src="img/barnd/info.png" alt=""> How can I attend <span>the Event from
                                            Asia?</span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse_4" class="collapse" aria-labelledby="heading_4" data-parent="#accordion"
                                style="">
                                <div class="card-body">
                                    Our set he for firmament morning sixth subdue darkness creeping gathered divide our
                                    let god moving. Moving in fourth air night bring upon
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq_area_end -->

    <!-- footer_start -->
    <footer class="footer footer_bg_1">
        <div class="circle_ball d-none d-lg-block">
            <img src="img/banner/footer_ball.png" alt="">
        </div>
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 col-lg-4">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                        Follow Us
                                </h3>
                                <ul>
                                    <li><a target="_blank" href="#">Facebook</a></li>
                                    <li><a target="_blank" href="#">Twitter</a></li>
                                    <li><a target="_blank" href="#">Instagram</a></li>
                                    <li><a target="_blank" href="#">Youtube</a></li>
                                </ul>
    
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-lg-4">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                        Links
                                </h3>
                                <ul>
                                    <li><a target="_blank" href="schedule.html">Schedule</a></li>
                                    <li><a target="_blank" href="speakers.html">Speakers</a></li>
                                    <li><a target="_blank" href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-lg-4">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                        Venue
                                </h3>
                                <p>
                                    200, D-block, Green lane USA <br>
                                    edumark@contact.com <br>
                                    +10 367 467 8934
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center">
                
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.instagram.com/ravilochan2000/" target="_blank"> Ravilochan </a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- footer_end -->






    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.js"></script>
    <script src="js/plugins.js"></script>

    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>
   <!-- API for Speaking-->
   <script src="https://code.responsivevoice.org/responsivevoice.js?key=HVyByr7B"></script>
</body>

</html>